<ion-toolbar>
	<ion-title>{{ title }} Student</ion-title>
	<ion-buttons slot="primary">
		<ion-button (click)="dismiss()">
			Close
		</ion-button>
	</ion-buttons>
</ion-toolbar>

<ion-content class="ion-padding">
	<ion-row>
		<ion-col size="2"></ion-col>
		<ion-col size="8">
			<ion-list>
				<ion-item>
					<ion-label position="floating">Name</ion-label>
					<ion-input required [(ngModel)]="name" type="text"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Lastname</ion-label>
					<ion-input required [(ngModel)]="lastName" type="text"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Age</ion-label>
					<ion-input required [(ngModel)]="age" type="number"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Gender</ion-label>
					<ion-input required [(ngModel)]="gender" type="text"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Address</ion-label>
					<ion-input required [(ngModel)]="address" type="address"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Career</ion-label>
					<ion-input required [(ngModel)]="career" type="text"></ion-input>
				</ion-item>
			</ion-list>
		</ion-col>
		<ion-col size="2"></ion-col>
	</ion-row>
	<ion-row>
		<ion-col size="2"></ion-col>
		<ion-col size="8">
			<ng-container *ngIf="edit; else elseTemplate">
				<ion-button color="primary" (click)="updtaeUser(id)" expand="full">Edit</ion-button>
			</ng-container>
			<ng-template #elseTemplate>
				<ion-button color="primary" (click)="createUser()" expand="full">Create</ion-button>
			</ng-template>
		</ion-col>
		<ion-col size="2"></ion-col>
	</ion-row>
</ion-content>
